.contact-container {
  width: 40vw;
  padding: 20px;
}
.contact-container > p {
  font-size: 36px;
}
.logo {
  width: 356px;
  height: 100px;
}
.description {
  font-size: 24px !important;
}
.contact-form input {
  width: 60%;
  padding: 13px;
  margin-right: 12px;
  font-size: 24px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #ababab;
  border: 1px solid #ababab;
}
::placeholder {
  color: #ababab;
}
.contact-form input:focus {
  color: black;
}
.contact-form button {
  padding: 13px;
  width: fit-content;
  font-size: 24px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid #ea7b2c;
  background-color: #ea7b2c;
  color: white;
  cursor: pointer;
  border: 0;
}

.error-message {
  position: fixed;
  z-index: 2222;
  color: red;
  font-size: 16px;
  margin-top: auto;
  width: 30vw;
}
.success-message {
  position: fixed;
  z-index: 2222;
  color: green;
  font-size: 16px;
  margin-top: auto;
  width: 30vw;
}

@media screen and (max-width: 720px) {
  .contact-container {
    width: 90vw;
  }
  .success-message,
  .error-message {
    width: 90vw;
    position: absolute;
    z-index: unset;
  }
}

@media screen and (max-width: 480px) {
  .contact-form {
    position: absolute;
    top: 255%;
  }
}

@media screen and (max-width: 395px) {
  .contact-form {
    position: absolute;
    top: 281%;
  }
}
